{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<ul class="main">
    <li>
        <a href="https://www.dropbox.com/sh/0gjlfwij54s8a3e/AAA6Q2f4bkoXrimylOdSAm57a?dl=1">
            Five night's at robert corp
        </a>
    </li>
    <li>
        <a href="https://www.dropbox.com/sh/b856iw0fsjp3zpu/AACwP-qDgLHGuXXyupxGJ--na?dl=1">
            Leboog Game - cardmint
        </a>
    </li>
    <li>
        <a href="https://www.dropbox.com/sh/sqg0jm6pn48z7d3/AAD29nuQjv_DKbv_Q6o_hfTYa?dl=1">
            Pogger Game
        </a>
    </li>
</ul>
{% endblock %}