@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

:root{
    font-size: 20px;
}

body{
    background-color: #131313;  
    font-family: "Roboto";
    text-decoration: none;
    color: white;

    margin: 0;
    padding: 0
}

.disable-select{
    /* https://reactgo.com/disable-text-selection-css/ */
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

a{
    text-decoration: none;
    color: white;
}

header {
    background-color: #171717;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}

.logo{
    font-size: 42px;
    padding-right: 35px;
    padding-left: 35px;

    font-family: 'Dancing Script';
    font-weight: 700;

    transition: transform 0.4s cubic-bezier(0.47, 0.23, 0.23, 1.6) 0s;
}

.logo:hover{
    cursor: pointer;
    transform: scale(1.25)
}

.navbar_links{
    list-style: none;
}

.navbar_links li{
    display:inline-block;
    padding: 0px 15px;
}

.navbar_links li a{
    padding: 8px 15px;
    font-size: 1rem;
}

.navbar_links li a img{
    width: 3rem;
    height: 3rem;

    filter: grayscale(100%) opacity(1);
    transition: transform 0.4s cubic-bezier(0.47, 0.23, 0.23, 1.6) 0s;
}

.navbar_links li a img:hover{
    cursor: pointer;
    transform: scale(1.25)
}

.main{
    padding: 0;
    margin: 0;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;

    font-size: 1.5rem;
}

.main li{
    list-style-type: none;

    padding: 10px;
    margin: 10px;
}

#clicker{
    padding: 10px;
    margin-bottom: 10px;
}

.button{
    border: none;
    box-shadow: 0 0 0px rgb(209, 56, 56);

    border-radius: 2px;
    background-color: rgba(254, 70, 70, 0.181);

    transition: all 0.4s ease 0s;
}

.button:hover{
    box-shadow: 0 0 25px rgb(209, 56, 56);

    background-color: rgb(209, 56, 56);
    cursor: pointer;
}

#clicker-button img{
  width: 100px;
  height: 100px;

  animation: shrink 0.1s infinite;
  transition: transform 0.4s cubic-bezier(0.47, 0.23, 0.23, 1.6) 0s;
}

#clicker-button img:hover{
    transform: scale(1.25);
    cursor: pointer;
}

@keyframes shrink{
    transform: scale(0.9);
}

@media screen and (min-width: 1000px) {
    :root{
        font-size: 20px;
    }

    .logo{
        font-size: 42px;
        padding-right: 35px;
        padding-left: 35px;
    }

    .navbar_links li{
        display:inline-block;
        padding: 0px 15px;
    }

    .navbar_links li a{
        padding: 8px 15px;
    }

    header{
        justify-content: space-between;
        padding: 0px 5%;
    }
}

@media screen and (max-width: 800px) {
    :root{
        font-size: 15px;
    }

    .logo{
        font-size: 2rem;
        padding-right: 5px;
        padding-left: 25px;
    }

    .navbar_links li{
        display:inline-block;
        padding: 4px;
    }

    .navbar_links li a{
        padding: 4px 5px;
    }

    header{
        justify-content: left;
        padding: 0;
    }
}